version: 2

defaults: &defaults
  docker:
    - image: circleci/node:14.4.0

jobs:
  dependencies:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Npm Install
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - persist_to_workspace:
          root: .
          paths:
            - node_modules/

  lint:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Lint
          command: npm run lint

  build:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: npm run build
      - persist_to_workspace:
          root: .
          paths:
            - dist/

#  test_unit:
#    <<: *defaults
#    steps:
#      - checkout
#      - attach_workspace:
#          at: .
#      - run:
#          name: Unit Tests
#          command: npm run test:unit:coverage
#      - store_artifacts:
#          path: tests/reports/unit/junit.xml
#          prefix: tests
#      - store_artifacts:
#          path: tests/reports/unit/coverage
#          prefix: coverage
#      - store_test_results:
#          path: tests/reports/unit
#      - run:
#          name: Coveralls
#          command: export COVERALLS_GIT_COMMIT=$CIRCLE_SHA1 && npm run coveralls < tests/reports/unit/coverage/lcov.info

#  test_int:
#    docker:
#      <<: *defaults
#    steps:
#      - checkout
#      - attach_workspace:
#          at: .
#      - run:
#          name: Unit Tests
#          command: npm run test:int
#      - store_artifacts:
#          path: tests/reports/int/junit.xml
#          prefix: tests
#      - store_test_results:
#          path: tests/reports/int

workflows:
  version: 2
  build_and_test:
    jobs:
      - dependencies
      - lint:
          requires:
            - dependencies
#      - test_unit:
#          requires:
#            - lint
      - build:
          requires:
            - lint
#      - test_int:
#          requires:
#            - build
